{{ define "footer" }}
<footer class="mt-auto text-white-50">
  <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Шаблон обложки для </font></font><a href="https://getbootstrap.com/" class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bootstrap</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> от </font></font><a href="https://twitter.com/mdo" class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@mdo</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
</footer>
</div>
</body>
</html>
{{ end }}
